<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Htin Linn</string>
	<key>Builder Version</key>
	<string>8536.25</string>
	<key>CFBundleDisplayName</key>
	<string>Tabs For Later</string>
	<key>CFBundleIdentifier</key>
	<string>com.returnedzero.tabsforlater</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>5242880</real>
		<key>Global Page</key>
		<string>Popover.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>Popover.html</string>
				<key>Height</key>
				<real>65</real>
				<key>Identifier</key>
				<string>tabsForLaterPopover</string>
				<key>Width</key>
				<real>250</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>tabsForLaterToolbar</string>
				<key>Image</key>
				<string>Later.png</string>
				<key>Label</key>
				<string>Tabs For Later</string>
				<key>Popover</key>
				<string>tabsForLaterPopover</string>
				<key>Tool Tip</key>
				<string>Save Tabs from this Window for Later</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Save tabs from current window for later.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>http://twitter.com/returnedzero</string>
</dict>
</plist>
